@import url(./root.css);

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background-color: #1a1f24;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--border-color);
    gap: 5px;
}

.auth-btn, .logged-out-msg, .sing-btn, .database-btn {
    display: none;
}

.status-select {
    background-color: #ffffff77;
}

.logged-out-msg {
    width: 80%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.logged-out-msg span {
    font-weight: bolder;
    cursor: pointer;
}

.container {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 1000px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--pg-color);
    padding: 20px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
}

.meal {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.inp {
    width: 50%;
}

.save-btn {
    display: none;
    background-color: var(--green);
}

.btn-salvar:hover, .btn-salvar:active {
    background-color: var(--green);
}

.header .botao-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-grow: 1;
}

div.botao-configuracao {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2px;
    height: 22px;
    margin-left: auto;
    margin-right: 5px;
}

div.botao-configuracao:hover, div.botao-configuracao:active {
    background-color: transparent;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .loading-text {
    font-size: 3rem;
    color: #ff6600;
    font-weight: bold;
    position: relative;
    animation: slideUp 3s ease-out forwards;
  }
  
  @keyframes slideUp {
    0% {
      transform: translateY(100vh);
    }
    100% {
      transform: translateY(0);
    }
  }

  .loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loading-text {
    font-size: 3rem;
    color: #ff6600;
    font-weight: bold;
    position: relative;
    animation: slideUp 3s ease-out forwards;
}

@keyframes slideUp {
    0% {
        transform: translateY(100vh);
    }
    100% {
        transform: translateY(0);
    }
}

.loading-bar-container {
    width: 25%;
    height: 15px;
    background-color: #4a5c6a;
    margin-top: 20px;
    border-radius: 50px;
}

.loading-bar {
    width: 0%;
    height: 100%;
    background-color: #ff6600; 
    border-radius: 50px;
}

@media (max-width: 780px){
    .header .botao-container {
        display: flex;
        justify-content: center;
        gap: 2px;
        flex-grow: 1;
        align-items: center;
        width: 2px;
    }

    .status-select {
        background-color: #ffffff77;
        width: 35%;
    }
}
